page-profil {
<<<<<<< HEAD
    .bg-image {
        background-image: url('../assets/img/background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
=======
>>>>>>> 68d39b28e5234c7be2c1f13c2edfa0c0411de686

}
